html {
    background-color: #2c3338;
    font-family: sans-serif;
    color: white;
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #2c3338;
    font-family: sans-serif;
    color: white;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar {
    background-color: #FF4500;
    box-shadow: 0px 4px 4px black;
    font-family: sans-serif;
    color: white;
    font-weight: bold;   
}

textarea {
    outline:2px;
    outline-color: black;
    box-shadow: 0px 4px 4px black;
    overflow: auto;
    resize: none;
    width: 1000px;
    height: 400px;
}
