@{
    ViewBag.Title = "About";
}
<h2>What is SimulCode?</h2>

<p>
    SimulCode is a basic multiple langunage coding environment where 
    multiple people can work on the same problem in real time. 
</p>
