@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>

<address>
    Ohio Union <br />
    1739 N High St <br />
    Columbus, OH 43210<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">Phone:</abbr>
    614.688.4636
</address>
